/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material'as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sand-ui-primary: mat.define-palette(mat.$deep-purple-palette);
$sand-ui-accent: mat.define-palette(mat.$cyan-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sand-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sand-ui-theme: mat.define-light-theme((color: (primary: $sand-ui-primary,
            accent: $sand-ui-accent,
            warn: $sand-ui-warn,
        )));

:root {
    $colors: (primary: $sand-ui-primary,
            accent: $sand-ui-accent,
            warn: $sand-ui-warn,
        );

    $weights: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A400, A700;
    $opacity: ('90': E6,
            '80': CC,
            '70': B3,
            '60': 99,
            '50': 80);

    @each $name,
    $color in $colors {
        --mat-#{$name}: #{mat.get-color-from-palette($color, 500)};
        --mat-#{$name}-contrast: #{mat.get-color-from-palette($color, 500-contrast)};

        @each $weight in $weights {
            --mat-#{$name}-#{$weight}: #{mat.get-color-from-palette($color, $weight)};
            --mat-#{$name}-#{$weight}-contrast: #{mat.get-color-from-palette($color, #{$weight}-contrast)
        }

        ;

        @each $opacityName,
        $opacityHex in $opacity {
            --mat-#{$name}-#{$weight}-#{$opacityName}: #{mat.get-color-from-palette($color, $weight)}#{$opacityHex};
        }
    }
}
}


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sand-ui-theme);

/* You can add global styles to this file, and also import other style files */

body {
    background: var(--mat-primary-600);
    background: url('assets/wallpapers/default_light.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}